*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --red:#fb5283;
    --light-blue:aqua;
}
*{
   
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#fff;
    
}

section{
     width: 100%;
   
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

/* heeader css starts here*/
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:var(--blue);
    background:var(--light-blue);
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background:var(--blue);
    color:#44dcd4;
}
    
.heading{
    text-align: center;
    color:#333;
    font-size: 4rem;
    padding-bottom: 3rem;
}

.heading span{
    color:var(--red);
    background:var(--light-red);
    border-radius: .5rem;
    padding:.2rem 1.5rem;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background:#fff;
    padding:1.5rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 60px;
    cursor: pointer;
    margin: 30px 0;

}



header .navbar a{
    color:#333;
    font-size: 2rem;
    padding:0 1.5rem;
}

header .navbar a:hover{
    padding: 12px 10px;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

header .icons #menu-bars,
header .icons a{
    height:4.5rem;
    line-height: 4.5rem;
    width:5rem;
    font-size: 2rem;
    margin-right: .5rem;
    border-radius: .5rem;
    color:var(--red);
    background:var(--light-red);
    text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover{
    background-color:var(--red);
    color:#fff;
}

header .icons #menu-bars{
    display: none;
}
/* heeader css ends here*/

/* my skills css starts here*/

.inner{
    padding-top: 50px;
}

.header{
    font-size: 5rem;
    text-align: center;
    color: #333;
    padding: 5rem;
    position: relative;
    
}

.header:after{
    content: '';
    position: absolute;
    bottom: 10;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 31rem;
    background-color: #ff54a2;
    border-radius: 2px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 88px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #333;
    cursor: pointer;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title h3{
     color: black;
     margin: 0.5rem;
     font-size: large;
}

.skill-icon{
    width: 500px;

}
/* my skills css ends here*/

/* social link css starts here*/
.social-links img{
 height: 35px;
 margin: 30px;
 cursor: pointer;
}
.social-links{
    text-align: center;
    padding-bottom: 0%;
}



@media (max-width:800px){

    html{
        font-size:55%;
    }

    header{
        padding:1.5rem 1rem;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }

   
    .color-box{
        transform: translate(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 25px;
    }
    .col-1 h3{
        font-size: 15px;
    }
    .col-1::after{
        content: '';
        width: 10px;
        height: 88%;
        background: linear-gradient(#ff469f, #ff6062);
        position: absolute;
        left: -40px;
        top: 8px;
    }
    
    .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
    .skill-icon{
        width: 500px;
    
    }
    

}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        left:0; right:0; top:100%;
        background:#f7f7f7;
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        background:#fff;
        border:.1rem solid #333;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }

    
    .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }

    .skill-icon{
        width: 450px;
    
    }

}

@media (max-width:450px){

    html{
        font-size:50%;
    }

    .contact .row form .inputBox input{
        width: 100%;
    }  
     
    .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }

    .skill-icon{
        width: 300px;
    
    }
}